<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{restaurant.name}}" ng-init="getRestaurantById()">
  <ion-content class="padding">
    <div class="item">
      <button id="btnAddFavorite" ng-click="addRemoveFavorite()"
              ng-class="{'button icon-right ion-star button-energized button-outline right': !favorite.bool, 'button icon-right ion-star button-assertive button-outline right' : favorite.bool}">{{favorite.text}}</button>
      <div>
        <div class="frame">
          <img cache-src="{{restaurant.image_url}}" circle-container-style="display:none;">
        </div>
        <div class="frame">
          <img cache-src="{{restaurant.rating_img_url_large}}" circle-container-style="display:none;">
        </div>
      </div>
      <ul style="list-style-type:none" class="left">
        <li>City: {{restaurant.location.city}}</li>
        <ion-list>
          <ion-item ng-repeat="address in restaurant.location.address" class="item-borderless no-padding" >
            <li>Address {{$index+1}}: {{address}}</li>
          </ion-item>
        </ion-list>
        <li>Phone number: {{restaurant.display_phone}}</li>
        <a ng-href="{{restaurant.mobile_url}}">Link to the yelp page</a>
      </ul>
    </div>

    <div class="card" ng-show="showSnippetText">
      <div class="item item-text-wrap">
        {{restaurant.snippet_text}}
      </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap">
        <button class="button button-clear button-block button-icon ion-flag button-balanced" ng-click="getRoute()">Get route information</button>
      </div>
    </div>
  </ion-content>
</ion-view>
