<ion-view view-title="Gallery">
  <ion-nav-buttons side="secondary">
    <button class="button button-stable" ng-click="loadFavorites()">
      Favorites
    </button>
  </ion-nav-buttons>
  <ion-content class="gallery">
    <ion-list >
      <ion-item  class="row gallery" ng-repeat="image in images" ng-if="$index % 3 === 0">
        <div class="col" ng-if="$index < images.length">
          <img cache-src="{{images[$index].imageUrl}}" class="galleryImg" ng-click="openModal($index)"/>
        </div>
        <div class="col" ng-if="$index + 1 < images.length">
          <img cache-src="{{images[$index + 1].imageUrl}}" class="galleryImg" ng-click="openModal($index + 1)" />
        </div>
        <div class="col" ng-if="$index + 2 < images.length">
          <img cache-src="{{images[$index + 2].imageUrl}}" class="galleryImg" ng-click="openModal($index + 2)" />
        </div>
      </ion-item>
    </ion-list>
  </ion-content>

  <!-- Pager -->
  <ion-footer-bar class="bar-stable">
    <div class="buttons"  ng-click="previousPage()">
      <button class="button" ng-show="hasPreviousPage">Previous page</button>
    </div>
    <h1 class="title">Page {{currentPage}} of {{lastPage}}</h1>
    <div class="buttons" ng-click="nextPage()">
      <button class="button" ng-show="hasNextPage">Next page</button>
    </div>
  </ion-footer-bar>

  <!-- Image modal -->
  <script id="image-modal.html" type="text/ng-template" >
    <ion-modal-view >
      <ion-header-bar class="bar-stable">
        <h1 class="title">{{selectedImage.title}}</h1>
        <div class="buttons">
          <button ng-click="addRemoveFavorite()"
                  ng-class="{'button icon-right ion-star button-energized': !selectedImage.favorite.bool,
                  'button icon-right ion-star button-assertive' : selectedImage.favorite.bool}">{{selectedImage.favorite.text}}
          </button>
        </div>
      </ion-header-bar>
      <ion-content class="dark">
        <div >
          <div class="img-holder dark left">
            <img ng-src="{{selectedImage.imageUrl}}" class="img-modal" />
          </div>
          <button class="button custom-button button-dark left" ng-click="closeModal()">
            Close
          </button>
        </div>
      </ion-content>
    </ion-modal-view>
  </script>
</ion-view>
