<ion-view view-title="Restaurants" ng-init="loadRestaurants()">
  <ion-nav-buttons side="secondary">
    <button class="button button-stable" ng-click="loadFavorites()">
      Favorites
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item class=" item-avatar item-icon-right" ng-repeat="restaurant in restaurants" type="item-text-wrap" ui-sref="tab.restaurants-detail({id: restaurant.id})" >
        <img cache-src="{{restaurant.image_url}}" circle-container-style="display:none;" src-is="background">
        <h2>{{restaurant.name}}</h2>
        <img cache-src="{{restaurant.rating_img_url_small}}" circle-container-style="display:none;">
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

<!-- item-remove-animate Class voor ion-item -->
