<ion-view view-title="Restaurants in de buurt">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="restaurant in restaurants" type="item-text-wrap" href="#/tab/restaurants-nearby/{{restaurant.id}}">
        <img ng-src="{{restaurant.imageUrl}}">
        <h2>{{restaurant.name}}</h2>
        <p>{{restaurant.ratingUrl}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>


      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
