/* Empty. Add your own CSS if you like */
#mapid {
  min-height:100px;
  height:100%;
}

.no-padding {
  padding: 0 !important;
}

.right {
  float: right;
}

.left {
  float: left;
}

.frame {
  display:block;
  vertical-align: middle;
}

